<mat-card>
    <h2>Liste der Benutzer</h2>
    <div class="example-button-row">
        <button mat-raised-button color="warn" routerLink="/home">
            <mat-icon>arrow_back</mat-icon> Zurück
        </button>
        <button mat-raised-button color="primary" routerLink="add">
            <mat-icon>person_add</mat-icon> Hinzufügen
        </button>
    </div>
    <br>
    <mat-form-field style="width: 50%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Suchen">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-card>
<table mat-table matSort matSortActive="id" matSortDirection="asc" [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alter </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktiv </th>
        <td mat-cell *matCellDef="let element"> {{element.active === true ? 'Ja' : 'Nein'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Aktionen </th>
        <td mat-cell *matCellDef="let element">
            <button matTooltip="Bearbeiten" mat-raised-button [routerLink]="[element.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Aktivieren/Deaktivieren" mat-raised-button color="primary"
                (click)="disableUser(element)">
                <mat-icon *ngIf="element.active">not_interested</mat-icon>
                <mat-icon *ngIf="element.active === false">power_settings_new</mat-icon>
            </button>
            <button matTooltip="Löschen" mat-raised-button color="warn" (click)="deleteUser(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>