<div class="Aligner">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class="Aligner-item">
        <mat-card>
            <mat-card-title>
                <mat-icon>book</mat-icon> Homepage
            </mat-card-title>
            <mat-card-actions class="center">
                <button mat-raised-button color="primary" [routerLink]="['/users']">
                    <mat-icon>search</mat-icon> Benutzer suchen
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="Aligner-item Aligner-item--bottom"></div>
</div>